form{
  padding:20px;
  margin-top:60px;
  background-color: #49504C;
}
form button,form h5{
  margin:20px 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #49504C;
  box-shadow:none;
}
